@import "tailwindcss";

@font-face {
  font-family: "Outfit:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Outfit_wght__2") format("woff2");
}

@font-face {
  font-family: "Outfit:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Outfit_wght__2") format("woff2");
}

@font-face {
  font-family: "Outfit:SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Outfit_wght__2") format("woff2");
}

@font-face {
  font-family: "Outfit:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Outfit_wght__2") format("woff2");
}

@font-face {
  font-family: "Inter:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #000000;
  font-family:
    var(--font-outfit), "Outfit:Regular", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: clip;
}
